@import '_colors';


.list {
  display: flex;
  margin-bottom: 10px;
  border-bottom: solid 1px #C8C8C8;
  /*background-color: $light-grey;*/
  background-color: #8F90AD;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: $secondary-color-white;
}

.list-date {
  padding: 5px 5px 5px 5px;
}

.list-of-stuff {
  margin-left: 10px;
  margin-right: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
}

.tasks {
  display: flex;
  flex-basis: 25%;
  font-size: 18px;
  align-items: center;
  margin-right: 5px;
}

.task-list {
  font-size: 18px;
}

.task-location {
  display: flex;

  font-size: 15px;
}

.location-image {
  background: url("../src/images/icons8-geo-fence.png");
  width: 18px;
  height: 18px;
  margin-right: 14px;
  margin-left: -6px;
}

.list-item-delete {
  display: flex;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                     0 1px 5px 0 rgba(0, 0, 0, 0.12),
                     0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: $secondary-color-white;
}

.list-item-delete:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
            0 1px 18px 0 rgba(0, 0, 0, 0.12),
            0 3px 5px -1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s linear;
}

.delete {
  background: url("../src/images/icons8-cancel-30.png");
  width: 30px;
  height: 30px;
  transform: translateX(10px) translateY(5px);
  opacity: 0;
  cursor: pointer;
}

.delete:hover {
  background: url("../src/images/icons8-cancel-30-hover.png");
}

.list-item-delete:hover .delete {
  transform: translateX(0px) translateY(5px);
  transition: transform 0.5s ease-out, opacity 1.5s ease-out;
  opacity: 1;
}

.inputs {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
}

.input-title {
  margin-bottom: 40px;
  margin-top: 10px;
  color: $primary-color;
  font-size: 18px;
}

.group {
  position: relative;
  margin-bottom:55px;
}

#first-group {
  display: flex;
  justify-content: space-between;
}

#first-group div input {
  width: 300px;
}

#first-group div span {
  width: 315px;
}

#am {
  margin-top: 10px;
  color: #ABABAB;
  cursor: pointer;
}

#pm {
  margin-top: 10px;
  color: #ABABAB;
  cursor: pointer;
}

input {
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  width:370px;;
  border:none;
  border-bottom:1px solid $primary-color;
  background-color: $light-grey;
}

input:focus {
  outline: none;
}

label {
  color:#ABABAB;
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:$primary-color;
}

.bar  {
  position:relative;
  display:block;
  width:385px;
}

.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:$primary-color;
  transition:0.2s ease all;
}

.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.add-cancel {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  color: $primary-color;
}

.add-cancel div {
  cursor: pointer;
}
