body{
  margin: 0 auto 0 auto;
}
.app-container {
  font-family: 'Roboto', sans-serif;
  display:flex;
}

.list-container {
  flex-basis: 33%;
  padding-left: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list-add {
  padding-right: 5px;
}

.month-bar {
  display: flex;
  font-size: 45px;
  padding-left: 6px;
  margin-right: 6px;
  justify-content: space-between;
  flex-basis: 67%;
}

.dates-section {

}

.dates {
  display: flex;
  justify-content: space-around;
  margin-left: 3px;
  margin-right: 4px;
  padding-right: 8px;
  flex-basis: 67%;
}

.dates-list {
  display: flex;
}

.dates-container {
  flex-basis: 67%;
}

.day-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.day {
  flex-basis: 14.1%;
  height: 80px;
  outline: 1px solid black;
  margin: 0 1px 1px 0;
  font-size: 20px;
}

.selected {
  outline-color: white;
}

.today {
  color: red;
}

.gray {
  color: gray;
}

.list-time {
  font-size: 20px;
}

.list-task {
  list-style: none;
}
