.app-container {
  display: flex;
}

.calendar-container {
    flex-basis: 67%;
}

.list-container {
  flex-basis: 33%;
}

.month-bar {
  display: flex;
  font-size: 45px;
  margin-left: 6px;
}

.dates {
  display: flex;
  justify-content: space-around;
}
