body{
  margin: 0 auto 0 auto;
}
.app-container {
  font-family: 'Roboto', sans-serif;
  display:flex;
}

.month-bar {
  display: flex;
  font-size: 45px;
  padding-left: 6px;
  margin-right: 6px;
  flex-basis: 67%;
}

.plus {
  display: flex;
  flex-basis: 33%;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 25px;
}

.inputs {
  display: flex;
  flex-basis: 33%;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 10px;
}

.list-container {
  flex-basis: 33%;

}

.list {
  display: flex;
  justify-content: center;
}

.list-add {
  padding-right: 5px;
}

.dates-section {

}

.dates {
  display: flex;
  justify-content: space-around;
  margin-left: 3px;
  margin-right: 4px;
  padding-right: 8px;
  flex-basis: 67%;
}

.dates-list {
  display: flex;
}

.dates-container {
  flex-basis: 67%;
  border-right: solid 1px grey;
}

.day-container {
  display: flex;
  flex-wrap: wrap;

}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 14.1%;
  height: 95px;
  margin: 0 1px 1px 0;
  font-size: 20px;

}

.selected {
  border-radius: 100%;
  background: yellow;

}

.today {
  color: red;
}

.gray {
  color: gray;
}

.list-date {
  margin-bottom: 20px;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}

.list-of-stuff {
  margin-left: 10px;
}

.tasks {
  display: flex;
  margin-bottom: 20px;
}

.task-list {
  margin-left: 30px;
}

.task-divider {
  color: grey;
  margin-left: -10px;
  margin-bottom: 20px;
}
